<main>
    <section class='crypto-search'>
        <h1>Search</h1>

        <form class='search-form' method='post'>
            <input type='text' class='search-coin' name='name' placeholder='Search here...' value='{{name}}' />
            <select id='payment' name='payment'>
                <option value='crypto-wallet'>Crypto Wallet</option>
                <option value='credit-card'>Credit Card</option>
                <option value='debit-card'>Debit Card</option>
                <option value='paypal'>PayPal</option>
            </select>
            <button type='submit' class='btn-search'>Search</button>
        </form>

        {{#if matches}}
            {{#each matches}}
                <div class='search-result'>
                    <div class='search-list'>
                        <div class='coin'>
                            <div class='coin-img'>
                                <img src='{{imageUrl}}' />
                            </div>
                            <div class='coin-info'>
                                <h1>{{name}}</h1>
                                <p><span>Price: </span>${{price}}</p>
                                <p><span>Payment: </span>{{payment}}</p>
                            </div>

                            <a href='/crypto/details{{_id}}' class='btn-details'>Details</a>
                        </div>
                    </div>

                </div>
            {{/each}}
        {{else}}
            <div class='no-match'>
                <p>No match was found!</p>
            </div>
        {{/if}}

    </section>
</main>

<script>
    document.getElementById('payment').value = {{payment}};
</script>